/* all-music.css */

.search-filter {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    color: var(--brown);


    #search-bar {
        width: 100%;
        padding: 0.75rem;
        border: 0px;
        border-radius: 2rem;
        margin-bottom: 1rem;
        background-color: var(--gold);

    }

    .filters {
        display: flex;
        flex-direction: column;
        color: var(--brown);


    }

    .filters input,
    .filters select {
        margin-bottom: 0.5rem;
        padding: 0.4rem;
        border: 0px;
        border-radius: 2rem;
        box-sizing: border-box;
        color: var(--brown);
        background-color: var(--gold);


    }
}




